<div class="container">
  <h1>Welcome to Login Page!</h1>

  <table>
    <form action="" method="POST">
      <p>Email:  <input type="text" name="email"></p>
      <p>Password:  <input type="text" name="password"></p>
    </form>
  </table>

    <table>
    <form action="" method="POST">
      <p>Full Name:  <input type="text" name="fullname"></p>
      <p>Email:  <input type="text" name="email"></p>
      <p>Password:  <input type="text" name="password"></p>
    </form>
  </table>
</div>
